/* body {
  background-color: gold;
} */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin: 15px 0 0 30px;
  padding-top: 6px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.09em;
  text-align: left;
  color: #797979;
}

.nav {
  position: fixed;
  display: flex;
  background: #ffffff;
  width: 100vw;
  box-shadow: 0px 4px 34px 0px #00000021;

  /* justify-content: space-evenly; */
}

.nav__logo {
  margin: 11px 290px 10px 185px;
  /* text-decoration: none; */
}


.hero {
  margin-top: 88px;
  width: 100vw;
}

.intro--container {
  width: 100vw;
  height: 34px;
  margin-top: -3.3px;
  background-color: #062c97;
}

.sliding--content {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.09em;
  text-align: left;
  color: #ffffff;
  padding-top: 9px;
}

/* font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 14px;
letter-spacing: 0.09em;
text-align: left; */

.services {
  margin: 58px 218px;
}

.grid {
  display: grid;
  background: rgba(6, 44, 151, 0.06);
  width: 100vw;
}

.grid--1x2 {
  grid-template-columns: 0.7fr 1.3fr;
}

.intro--heading {
  margin: 92px 0 195px 140px;
}

.aboutus--heading,
.whatisupsida--heading {
  margin: 0 0;
}

.aboutus--heading {
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #2b3144;
}

.whatisupsida--heading {
  font-family: Karla;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #2b3144;
}

.aboutus--para {
  margin: 55px 140px 0 0;
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.aboutus--more {
  box-sizing: border-box;
  /* margin-left: 528px; */
  margin-top: 38px;
  margin-bottom: 73px;
  padding: 6px 65px;
  width: 222px;
  height: 52px;
  background: #f0f2f9;
  border: 1px solid #2b3144;
  /* color: #f0f2f9; */
}

.projects--container {
  background: #f0f2f9;
  /* box-sizing: border-box; */
}

.projects--heading {
  display: inline-block;
  /* box-sizing: border-box; */
  margin: 103px 329px 0 329px;
  font-family: Karla;
  font-size: 35px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
}

.about{
  padding-top: 85px;
  width: 100vw;
  height: 369px;
  left: 0px;
}
.about_image{
  width: 100vw;
}
.about_text {
  position: absolute;
  width: 237px;
  height: 67.72px;
  left: 601px;
  top: 150px;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 49px;
  /* or 89% */
  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;

  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

.gridabout{
  height: 711px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridaboutitem{
  width: 551px;
  height: 250px;
}

.gridaboutitem1{
  margin: 29.407294832826747vh 0 195px 140px;
}

.gridaboutitem2{
  margin: 18.237082066869302vh 0 195px 0;
}

.gridaboutpara{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  margin-top: 0;
  /* or 147% */
  color: #2B3144;
}

.values{
  width: 100vw;
  height: 595px;
  left: 0px;
  background: #F0F2F9;
}

.values_heading{
  width: 305px;
  height: 59px;
  margin-left: 567px;
  padding-top:71px;

  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.values_headingtop{
  position: static;
  width: 71px;
  height: 18px;
  left: 117px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #2B3144;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.values_headingcontent{
  width: 305px;
height: 41px;
left: 0px;
top: 18px;

font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;
/* identical to box height */

text-align: center;

color: #2B3144;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.values_content{
  width: 888px;
  height: 150px;
  margin-left: 276px;
  margin-top: 35px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */

  text-align: center;

  color: #2B3144;
}

.values_image{
  margin-top: 47px;
  margin-left: 140px;
}

.expert{
  margin-top: 321px;
  height: 580px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.expertitem{
  width: 528px;
  height: 557px;
}

.expertitem1{
  margin-left: 140px;
}

.expertitem2{
  margin-right: 105px;
}

.expertheading{
  width: 320px;
  height: 41px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  /* identical to box height */

  text-align: center;

  color: #2B3144;
}

.expertcontent{
  /* width: 528px;
  height: 125px; */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */
  color: #797979;
}

.partner{
  height: 919px;
  width: 100vw;
}

.partner_heading{
  width: 833px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin: 0 auto;
  padding-top: 220px;
  color: #2B3144;
}

.partnercontent{
  width: 1161px;
  height: 90px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  /* or 176% */

  text-align: center;
  padding-top: 160px;
  padding-left: 139px;
  color: #000000;

}